<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>TimeToAnswer</title>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application' %>
        <%= stylesheet_link_tag    'admin_devise' %>

        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'admin_devise_head' %>

        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script> -->
    </head>
    <body class="bg-white">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <%= yield %>
                    </div>
                </main>
            </div>
        </div>

        <%= javascript_include_tag 'admin_devise_body' %>

        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> -->
        <!-- <script src="js/scripts.js"></script> -->

        <% if flash %>
          <% flash.each do |key, value| %>
            <%= js_notify(value,"danger") %>
          <% end %>
        <% end %>        
    </body>
</html>
